image-upload-crop {
  input {
    margin-bottom: 15px;
    width: 100%;
    @extend .btn;
    @extend .btn-primary;
  }
  .cropped-image {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}