@import 'scss/variables';
@import 'scss/bootstrap';
@import 'bootstrap/buttons';

image-upload-crop {
  input {
    margin-bottom: 15px;
    width: 100%;
    @extend .btn;
    @extend .btn-primary;
  }
  .cropped-image {
    margin: 20px;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}