<!-- Basic data -->
<div class="main-box-body clearfix" ng-if="ctrl.profile.email">
  <div>
    <div class="col-xs-6">
      {{"profile.email" | translate}}
    </div>
    <div class="col-xs-6">
      <span>{{ctrl.profile.email}}</span>
    </div>
  </div>
</div>

<!-- Custom Fields -->
<div class="main-box clearfix profile-custom-fields" ng-if="!equals({},ctrl.profile.additional_data)">
  <header class="main-box-header clearfix">
    <h2>{{"profile.others_info" | translate}}</h2>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <tbody>
          <tr ng-repeat="(field, value) in ctrl.profile.additional_data">
            <td>
              {{ field }}
            </td>
            <td>
              {{ value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>