<div class="container">
  <div class="row">
    <context-bar class="col-md-12" ng-if="ctrl.environment" [owner]="ctrl.environment" [permission-action]="'edit_environment_design'"></context-bar>
  </div>
</div>

<div class="boxes-container environment-container">
  <div class="row">
    <noosfero-boxes ng-if="ctrl.boxes"
                    [layout]="ctrl.environment.layout_template"
                    [boxes]="ctrl.boxes"
                    [owner]="ctrl.environment">
    </noosfero-boxes>
  </div>
</div>
