i.profile-image {
  color: rgb(44, 62, 80);

  border-radius: 50%;
  background-clip: padding-box;
  margin-bottom: 15px;
}

.profile-image-wrap {
    display: inline;
}

#profile-image-container {
    display: inline;
}

#profile-image-container:hover {
    .select-photo-container {
        z-index: 1;
    }
    .upload-camera-container {
        transform: scale(.75);
    }
}

.upload-camera-container {
    text-align: left;
    position: absolute;
    z-index: 5;
}

.upload-camera {
    color: white;
    position: absolute;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    opacity: 1;
}

.select-photo-container {
    position: absolute;
    z-index: -1;
    background: #000;
    background: rgba(0, 0, 0, .6);
    background: linear-gradient(transparent, rgba(0, 0, 0, .6) 70%, rgba(0, 0, 0, .6) 100%);
    transition: top .13s ease-out;
}

#upload-container {
    position: relative;
    text-decoration: none;
}

.upload-container a:hover {
    text-decoration: none;
}

.upload-button {
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.upload-container {
    color:#fff;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: left;
    min-width: 89px;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:300px;
    height:150px;
}

.crop-area {
    display: none;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
