<div ng-if="ctrl.isEditable()">
  <div class="profile-image-wrap" title="{{ctrl.profile.name}}" ng-mouseenter="ctrl.showChange(true)" ng-mouseleave="ctrl.showChange(false)">
    <div class="hovereffect   ">
      <i ng-if="!ctrl.profile.image" alt='{{"profile.image.description" | translate}}' class="fa {{ctrl.defaultIcon}} fa-5x profile-image"></i>
      <img ng-if="ctrl.profile.image" alt='{{"profile.image.description" | translate}}' ng-src="{{ctrl.profile.image.url}}" class="img-responsive profile-image">
      <div class='container-camera'>
        <div ngf-select="ctrl.fileSelected($file)"
            ngf-pattern="'image/*'" ngf-accept="'image/*'"
            ngf-max-size="20MB"
            data-toggle="modal" data-target=".crop-dialog">
            <a href="" class="fa fa-camera upload-camera"></a>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
</div>
<div ng-if="!ctrl.isEditable()" class="profile-image-wrap" title="{{ctrl.profile.name}}">
  <img ng-if="ctrl.profile.image" alt='{{"profile.image.description" | translate}}' ng-src="{{ctrl.profile.image.url}}" class="item-avatar-img">
  <i ng-if="!ctrl.profile.image" alt='{{"profile.image.description" | translate}}' class="fa {{ctrl.defaultIcon}} fa-5x item-avatar-img"></i>
</div>
