<add-block *ngIf="showButton(column)" (onAdd)="addBlock(box, $event)" [box]="box" [owner]="owner"></add-block>

<ng-container *ngIf="!column?.subcolumns">
    <noosfero-block *ngFor="let block of box.blocks | orderBy: 'position'" [block]="block" [owner]="owner" [box]="box">
    </noosfero-block>
</ng-container>

<noosfero-boxes *ngIf="column?.subcolumns" [columns]="column.subcolumns"
    [boxes]="boxes" [owner]="owner" [startIndex]="startIndex"></noosfero-boxes>

<div class="dndPlaceholder"></div>
