<div class="actions">    
    <div class="profile-actions">
        <a *ngIf="hasNoRelationship()" (click)="addRelationship()" class="btn btn-primary btn-sm" [ngClass]="'add-in-' + profileType()" href="#">
            <i class="fa fa-plus"></i>
            {{ 'profile.actions.add_in_' + profileType() | translate }}
        </a>
        <i *ngIf="isWaitingApproval()" class="btn btn-info btn-sm" [ngClass]="'wait-' + profileType()">
            {{ 'profile.actions.wait_' + profileType() + '.approval'| translate}}
            <i class="fa fa-exclamation"></i>
        </i>        
        <a *ngIf="hasRelationship()" (click)="removeRelationship()" class="btn btn-warning btn-sm" [ngClass]="'remove-of-' + profileType()" href="#">
            <i class="fa fa-minus"></i>
            {{ 'profile.actions.remove_of_' + profileType() | translate }}            
        </a>
    </div>
</div>