.navbar {

  .container-fluid {
    padding: 0 12%;
    @media (max-width: 978px) {
      padding: 0 2%;
    }
  }

  .noosfero-logo img {
    height: 35px;
  }

  .navbar-nav {
    .profile-menu .profile-image {
      height: 30px;
      width: 30px;
      @extend .img-circle;
    }

    .profile-menu a {
      padding: 10px 15px;
    }
  }
}
