<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="/">
        <span class="noosfero-logo"><img src="assets/images/logo-noosfero.png"></span> Noosfero
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
