@import 'scss/variables';
@import 'bootstrap';

.configuration {
  @extend .container;

  padding: 15px;

  .navbar {
    background: #fff; 
    border-radius: 4px;
    a {
      color: dimgray;
    }
    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .container-fluid {
     padding-left: 0px;
     padding-right: 0px;
     .nav > li > a:focus, a:hover, .active {
        &::after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7.5px 0 7.5px 6px;
          border-color: transparent transparent transparent $secondary-color;
          content: "";
          position: absolute;
          right: -5px;
          margin-top: 2px;
        }
        background-color: $secondary-color;
        color: white;
      }
    }
  }
}