<ul id="accessibility">
  <li>
    <a id="link-content" href="#content" accesskey="1">
      Ir para o conteúdo
      <span class="accesskey">1</span>
    </a>
  </li>
  <li>
    <a id="link-navbar" href="#navbar" accesskey="2">
      Ir para o menu
      <span class="accesskey">2</span>
    </a>
  </li>
  <li>
    <a id="link-search" href="#" ng-click="ctrl.openSearch()" accesskey="3">
      Ir para a busca
      <span class="accesskey">3</span>
    </a>
  </li>
  <li>
    <a id="link-footer" href="#footer" accesskey="4">
      Ir para o rodapé
      <span class="accesskey">4</span>
    </a>
  </li>
</ul>
