<div class="profile-about">
  <!-- Basic data -->
  <div class="main-box-body clearfix" ng-if="ctrl.profile.email">
    <form class="form-horizontal">
      <div class="form-group" ng-repeat="(field, value) in ctrl.profileFields">
        <label class="col-sm-3 control-label">{{"profile." + field | translate}}</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{value}}</p>
        </div>
      </div>
    </form>
  </div>

  <!-- Custom Fields -->
  <div class="main-box clearfix profile-custom-fields" ng-if="ctrl.hasCustomFields()">
    <header class="main-box-header clearfix">
      <h2>{{"profile.others_info" | translate}}</h2>
    </header>
    <div class="main-box-body clearfix">
      <form class="form-horizontal">
        <div class="form-group" ng-repeat="(field, value) in ctrl.profile.additional_data">
          <label class="col-sm-3 control-label">{{ field }}</label>
          <div class="col-sm-9">
            <p class="form-control-static">{{ value }}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
