<div class="form editable-link-form">
  <div class="form-group">
    <label class="control-label">{{"editable-link.form.name" | translate}}</label>
    <input type="text" class="form-control input-sm" ng-model="ctrl.modifiedLink.name">
  </div>
  <div class="form-group">
    <label class="control-label">{{"editable-link.form.address" | translate}}</label>
    <input type="text" class="form-control input-sm" ng-model="ctrl.modifiedLink.address">
  </div>
  <div class="actions">
    <button type="button" class="btn btn-default btn-sm" (click)="ctrl.save()">{{"editable-link.form.ok" | translate}}</button>
    <button type="button" class="btn btn-warning btn-sm" (click)="ctrl.cancel()">{{"editable-link.form.cancel" | translate}}</button>
  </div>
</div>
