profile-fast-edition {
  .editable-profile-form {
    .control-label {
      color: #676767;
    }
    .updated-profile-link {
      margin: 5px;
      display: inline-block;
      color: #999999;
      word-break: break-all;
    }
    .alert {
      padding: 5px 15px;
      margin-bottom: 0;
    }
    .actions {
      .edition-error {
        margin-bottom: 10px;
      }
    }
  }
}
