<form class="form editable-profile-form" (ngSubmit)="save()" #profileForm="ngForm">
  <div class="form-group">
    <label class="control-label" for="name">{{"profile.edition.name_label" | translate}}</label>
    <input type="text" class="form-control input-sm" [(ngModel)]="updatedProfile.name" required #name="ngModel" id="name" name="name">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      {{"profile.edition.name.required" | translate}}
    </div>
  </div>
  <div class="form-group" *ngIf="allowChangeIdentifier()">
    <label class="control-label" for="identifier">{{"profile.edition.identifier_label" | translate}}</label>
    <input type="text" class="form-control input-sm" [(ngModel)]="updatedProfile.identifier" required #identifier="ngModel" id="identifier" name="identifier">
    <div [hidden]="identifier.valid || identifier.pristine" class="alert alert-danger">
      <div *ngFor="let error of getErrors('identifier')" class="identifier-error">
        {{error | translate}}
      </div>
    </div>
    <div [hidden]="!identifierChanged() || !identifier.valid" class="alert alert-warning">
      {{"profile.edition.identifier.change_message" | translate}}
    </div>
    <span class="updated-profile-link">{{getProfileLink()}}</span>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary">{{"profile.edition.action.save" | translate}}</button>
    <button type="button" class="btn btn-default" (click)="cancel()">{{"profile.edition.action.cancel" | translate}}</button>
  </div>
</form>
