noosfero-profile-header {
  position: relative;
  .profile-header {
    margin-top: -10px;
    background-image: url('../../../assets/images/default-profile-top.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    .top-bar {
      margin-top: 15px;
    }
    .bottom-bar {
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }
}