.icon.event {
  @extend .fa-calendar;
}
.icon.photos {
  @extend .fa-photo;
}
.icon.edit {
  @extend .fa-edit;
}
.icon.ok {
  @extend .fa-check;
}
.icon.send {
  @extend .fa-send-o;
}
.icon.menu-people {
  @extend .fa-user;
}
.icon.forum {
  @extend .fa-users;
}
.icon.new {
  @extend .fa-file-o;
}
.icon.save {
  @extend .fa-save;
}

.link-list-block {
  a i {
    line-height: 25px;
    color: #949494;
  }

  .design-mode {
    margin-bottom: 4px;
  }

  .link-edition {
    margin-bottom: 5px;

    .link-address-edition {
      display: inline-block;
      font-size: 12px;
      color: #848484;
      border-bottom-color: #848484;
    }
    .remove-link {
      margin-left: 14px;
    }
  }
  .new-link {
    text-align: right;
    width: 100%;
  }
  .dndPlaceholder {
    width: 100%;
    height: 45px;
    background-color: #dcdcdc;
  }
}
