<div class="layout-config" uib-dropdown>
  <a href="" uib-dropdown-toggle class="btn btn-default btn-sm">
    {{ 'layout-config.title' | translate }} <i class="fa fa-caret-down fa-fw"></i>
  </a>
  <ul uib-dropdown-menu>
    <li ng-repeat="(layout, _) in ctrl.layouts()" class="layout-template-option layout-{{layout}}" ng-class="{'selected': ctrl.isSelected(layout)}">
      <a href="#" (click)="ctrl.changeLayout(layout)">
        <img ng-src="/assets/images/icons-app/layouts/{{layout}}.png">
        <span class="layout-name">{{"layout-config.template." + layout  | translate}}</span>
      </a>
    </li>
  </ul>
</div>
