#config-tool {
  #config-tool-options {
    .layout-config {
      .header {
        .apply {
          display: inline-block;
        }
        .section-title {
          display: inline-block;
          margin-top: 10px;
        }
      }
      ul {
        li {
          min-height: 30px !important;
          padding: 0;
          a {
            color: #676767;
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 10px;
            &:hover, &:focus {
              text-decoration: none;
            }
          }
          &.selected {
            a {
              font-weight: bold;
            }
            background-color: #d0d0d0;
          }
        }
      }
    }
  }
}
