<ng-template #popoverTemplate>
    <div class="edit-block">
        <div class="list-group block-option" *ngFor='let optionKey of optionsKeys()'>
            <a  class="list-group-item" href="" [ngClass]="{'selected': isOptionSelected(optionKey, option)}" (click)="selectOption(optionKey, option)" *ngFor='let option of optionsValues(optionKey)'>
                {{"block.edition." + optionKey + "." + option | translate}}
            </a>
        </div>
    </div>
</ng-template>

<a class="action visibility"
    href="#"
    #popover="bs-popover"
    triggers="click"
    placement="right"
    [popover]="popoverTemplate">
    <i class="fa fa-ellipsis-v fa-fw"></i>
</a>