<div class="top-profile-image-content" ng-class="{'with-top-image': ctrl.hasTopImage(), 'without-top-image': !ctrl.hasTopImage()}">
  <div class="top-profile-image-wrap row" title="{{ctrl.profile.name}}">
    <img ng-if="ctrl.hasTopImage()" ng-src="{{ctrl.profile.top_image.url}}" class="img-responsive center-block">
    <div class="container container-camera-top" ng-if="ctrl.isEditable()">
      <div ngf-select="ctrl.fileSelected($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" data-toggle="modal"
        data-target=".crop-dialog">
        <a href="" class="fa fa-camera upload-camera-top"></a>
      </div>
    </div>
    <div class="overlay-top"></div>
  </div>
</div>
