noosfero-top-profile-image {
  .container-camera-top {
    .upload-camera-top {
      padding: 10px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 1.5em;
      text-shadow: 0px 0px 3px black;
      color: white;
      &:hover{
        font-size: 1.5em;
        color: #cacaca;
        background-color: rgba(0, 0, 0, 0.50);
      }
    }
  }
}
