<div class="blog-cover" ng-show="vm.article.image">
  <img ng-src="{{vm.article.image.url}}" class="img-responsive">
  <h3 ng-bind="vm.article.title"></h3>
</div>

<div class="page-header" ng-show="!vm.article.image">
  <h3 ng-bind="vm.article.title"></h3>
</div>

<div>
  <div ng-repeat="child in vm.article.children | orderBy: 'created_at':true">
    <div class="page-header">
      <a ui-sref="main.profile.page({profile: vm.profile.identifier, page: child.path})"><h4 ng-bind="child.title"></h4></a>
      <div ng-bind-html="child.body | truncate: 500: '...'"></div>
    </div>
  </div>
</div>
