body > .ng-scope {
  min-height: 100%;
}

html, body {
  height:100%;
}

.box-default{
  border: none;
  border-radius: 3px 3px 0 0;
  font-family: "Ubuntu Mediun";
  font-size: 15px;
  font-variant: normal;
  font-weight: normal;
  line-height: 30px;
  padding: 15px 15px 15px 55px;
  text-transform: capitalize;
}

.skin-whbl .membersblock > .panel-heading{
  @extend .box-default;
  background: #DAE1C4 url("../assets/images/participa-consulta/pessoas.png") no-repeat 15px center;
  background-size: 30px 30px;
  color: #4F9CAC;
}

.skin-whbl .statisticsblock > .panel-heading{
  @extend .box-default;
  background: #69677C url("../assets/images/participa-consulta/indicadores.png") no-repeat 15px center;
  background-size: 30px 30px;
  color: #DAE1C4;
}
