profile-list {
    .profile-item {
        display: inline-block;
        margin-bottom: 15px;
        padding: 0 5px;
        min-height: 90px;
        min-width: 62px;
        text-align: center;
    }
}
