<div class="basic-editor">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <form>
        <div class="form-group">
          <label for="titleInput">{{"article.basic_editor.title" | translate}}</label>
          <input type="text" class="form-control" id="titleInput" placeholder="{{'article.basic_editor.title' | translate}}" ng-model="vm.article.name">
        </div>
        <div class="form-group">
          <label for="bodyInput">{{"article.basic_editor.body" | translate}}</label>
          <html-editor [(value)]="vm.article.body"></html-editor>
        </div>
        <button type="submit" class="btn btn-default" ng-click="vm.save()">{{"article.basic_editor.save" | translate}}</button>
        <button type="button" class="btn btn-danger" ng-click="vm.cancel()">{{"article.basic_editor.cancel" | translate}}</button>
      </form>
    </div>
    <div class="side-options">
      <div class="visibility panel panel-default">
        <div class="panel-heading">{{"article.basic_editor.visibility" | translate}}</div>
        <div class="panel-body">
          <div>
            <input type="radio" ng-model="vm.article.published" ng-value="true"> 
            <i class="fa fa-unlock fa-fw"></i> {{"article.basic_editor.visibility.public" | translate}}
          </div>
          <div>
            <input type="radio" ng-model="vm.article.published" ng-value="false">
            <i class="fa fa-lock fa-fw"></i> {{"article.basic_editor.visibility.private" | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
