.basic-editor {
  @extend .container-fluid;
  padding: 0 1%;

  .side-options {
    @extend .col-md-3;
    margin-top: 25px;

    .visibility {
      .panel-heading {
        background-color: transparent;
        font-weight: bold;
      }
      .panel-body {
        i {
          color: #A5A5A5;
        }
      }
    }
  }
}
