<div id="context-bar">
  <div class="alert alert-warning config-option apply" ng-if="ctrl.displayApplyButton()">
    <strong> {{"contextbar.edition.has_changes" | translate}}</strong>
    <a href="" (click)="ctrl.apply()" class="btn btn-primary btn-sm ng-hide" ng-show="ctrl.displayApplyButton()">
      <i class="fa fa-check fa-fw"></i> {{"contextbar.edition.apply" | translate}}
    </a>
    <a href="" (click)="ctrl.discard()" class="btn btn-danger btn-sm">
      <i class="fa fa-remove fa-fw"></i> {{"contextbar.edition.discard" | translate}}
    </a>
  </div>

  <profile-actions ng-if="ctrl.isProfile()" [profile]="ctrl.owner"></profile-actions>
  <config-bar ng-if="ctrl.owner" [owner]="ctrl.owner" [permission-action]="ctrl.permissionAction"></config-bar>
</div>
