<div class="highlights-block-settings">
  <a href="" ng-click="ctrl.isCollapsed = !ctrl.isCollapsed" class="extra-settings-btn">
    <i class="fa fa-caret-down"></i> {{ "block.edition.extra_config" | translate }}
  </a>
	<div uib-collapse="ctrl.isCollapsed" class="slides">
    <div class="row" dnd-list="ctrl.images">
      <div class="dndPlaceholder col-xs-6 col-md-3 slide"></div>
      <div class="col-xs-6 col-md-3 slide" ng-repeat="slide in ctrl.images" dnd-draggable="slide" dnd-moved="ctrl.images.splice($index, 1)" dnd-effect-allowed="move">
        <a class="thumbnail" ng-click="ctrl.selectSlide($index)" href>
          <img ng-src="{{slide.image_src}}">
        </a>
        <a href ng-click="ctrl.removeSlide($index)" class="remove"><i class="fa fa-remove"></i></a>
      </div>
      <div class="slide">
        <a class="new-slide" ng-click="ctrl.addSlide()" href>
          <i class="fa fa-plus fa-5x"></i>
        </a>
      </div>
    </div>
	</div>
</div>
