<div class="highlights-block">
  <carousel ng-class="{'no-controls': hideControls()}" class="carousel" [(activeSlide)]="block.active" [interval]="getTransitionInterval()" [noWrap]="false">
    <slide *ngFor="let slide of images; let index=index">
      <a [href]="slide.address" [target]="getTarget(slide)" class="image-link">
        <img [src]="slide.image_src" class="img-responsive">
      </a>
      <div class="carousel-caption">
        <div class="caption">
          <div class="title">
            <noosfero-editable-link (linkChange)="updateLink(index, $event)" [owner]="owner" [(name)]="slide.title" [(address)]="slide.address" [designMode]="designMode"></noosfero-editable-link>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</div>
