<div class="highlights-block">
  <div uib-carousel ng-class="{'no-controls': ctrl.hideControls()}" class="carousel" active="ctrl.block.active" interval="ctrl.getTransitionInterval()" no-wrap="false">
    <div uib-slide ng-repeat="slide in ctrl.images" index="$index">
      <a ng-href="{{slide.address}}" target="{{ctrl.getTarget(slide)}}" class="image-link">
        <img ng-src="{{slide.image_src}}" class="img-responsive">
      </a>
      <div class="carousel-caption">
        <div class="caption">
          <div class='title'>
            <a href="#" noosfero-editable="ctrl.designMode" noosfero-editable-text="slide.title" e-placeholder='{{"edit.inline.title" | translate}}'>
              {{slide.title || (edit.inline.title | translate) }}
            </a>
          </div>
          <div class='link' ng-if="ctrl.designMode">
            <a href="#" editable-text="slide.address" e-placeholder='{{"edit.inline.link" | translate}}'>
              {{slide.address || (edit.inline.link | translate) }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
