<div bootstrap-resizable="ctrl.designMode" bootstrap-resizable-columns="ctrl.block.settings.visualization.columns" ng-show="ctrl.canDisplay() || ctrl.designMode" ng-class="{'invisible-block': !ctrl.canDisplay()}" class="noosfero-block col-md-{{ctrl.block.settings.visualization.columns || 12}}">
  <div ng-show="ctrl.designMode" class="actions block-actions" permission="ctrl.block.permissions" permission-action="allow_edit">
    <noosfero-block-edition [block]="ctrl.block" [owner]="ctrl.owner"></noosfero-block-edition>
  </div>
  <div class="panel panel-default block {{ctrl.blockClass()}}" >
    <div class="panel-heading" ng-show="ctrl.designMode || ctrl.block.title">
      <h3 class="panel-title">
        <span e-class="form-control input-sm" noosfero-editable="ctrl.designMode" noosfero-editable-text="ctrl.block.title" e-placeholder='{{"edit.inline.title" | translate}}'>{{ ctrl.block.title || ("edit.inline.title" | translate) }}</span>
      </h3>
    </div>
    <div class="panel-body {{ctrl.blockClass()}}" >
      <noosfero-block-content [design-mode]="ctrl.designMode" [block]="ctrl.block" [owner]="ctrl.owner"></noosfero-block-content>
    </div>
    <div class="panel-footer {{ctrl.blockClass()}}" ng-if='ctrl.designMode'>
      <noosfero-block-settings [block]="ctrl.block" [owner]="ctrl.owner"></noosfero-block-settings>
    </div>
  </div>
</div>
