.noosfero-block {
  position: relative;
  &.invisible-block {
    .block {
      opacity: 0.4;
    }
  }
  .block {
    .panel-title {
      font-size: 15px;
      font-weight: bold;
    }
    .panel-heading {
      background-color: transparent;
      border: 0;
    }
  }
  .actions {
    position: absolute;
    z-index: 100;
    right: 1px;
    top: 1px;
  }
}
