.activities-list {
  margin-top: -0.5em;
}
.comma-separated {
  .separated-item {
    &:after {
      content: ", ";
      margin-left: -3px;
    }
    &:last-child:after {
      content: "";
    }
  }
}

.noosfero-route-main\.profile\.info {
	.mainblock {
		background-color: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
	}
}
.btn-view-more {
  width: 100%;
}