// MIXINS
@mixin border-radius($radius) {
	border-radius: $radius;
	background-clip: padding-box; /* stops bg color from leaking outside the border: */
}

@mixin checkbox-mark($width, $height, $top, $left, $bg, $border, $content: "", $cursor: pointer, $position: absolute) {
	width: $width;
	height: $height;
	cursor: $cursor;
	position: $position;
	left: $left;
	top: $top;
	background: $bg;
	content: $content;
	border: $border;
}

@mixin opacity($opacity) {
	/* Netscape */
  -moz-opacity: $opacity;

  /* Safari 1.x */
  -khtml-opacity: $opacity;

  /* Good browsers */
	opacity: $opacity;
}

@mixin transition($args...) {

	$duration: 300ms;
	$keys: keywords($args);
	@if map-has-key($keys, duration) {
		$duration: map-get($keys, duration);
	}

	-webkit-transition: $args;
  -o-transition: $args;
  transition: $args;
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin outline($style: none, $width: 0px) {
	&:focus {
		outline-style: $style;
		outline-width: $width;
	}
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}
