$navbar-height: 65px;
$navbar-padding-vertical: 9px;
$line-height-computed: 32px;
$brand-success: #263238;
$text-color: #676767;
$panel-default-text: rgb(44, 62, 80);
$link-color: #007EBB;
$body-bg: #f5f8fa;
$page-header-border-color: #eee;

$secondary-color: rgb(149, 189, 41);

//global bg color
$main-bg-color: #e7ebee;

//primary colors
$primary-color: #03a9f4;
$primary-color-dark: #0288d1;

//OTHER COLORS
$default-bg-hover-color: #f8f8f8;
$red-color: #e84e40;
$red-color-dark: #dd191d;
$green-color: #8bc34a;
$green-color-dark: #689f38;

//GRID - media queries breakpoints
$break-xxs-min: 420px;
$break-xs-min: 768px;
$break-sm-min: 992px;
$break-md-min: 1200px;

$break-xxs-max: ($break-xxs-min - 1);
$break-sm-max: ($break-sm-min - 1);
$break-xs-max: ($break-xs-min - 1);
$break-md-max: ($break-md-min - 1);

$container-large-desktop: 1380px;

//BUTTONS
$btn-primary-color: #fff;
$btn-primary-bg: #689f38;
$btn-primary-border: #658b42;

$navbar-border-radius: 0;
$navbar-inverse-border: transparent;

$panel-default-border: transparent;
$body-bg: #ededed;

$font-family-base: 'Roboto', sans-serif;

$panel-body-padding: 15px 20px;
$panel-heading-padding: 10px 20px;
