theme-footer {
  #footer-brasil {
    background: none repeat scroll 0% 0% #F28F00;
    padding: 1em 0px;
    max-width: 100%;
  }
  #footer-license {
    text-align: center;
    margin: 20px;
    color: #F28F00;
    font-size: 12px;
  }
}
