<context-bar ng-if="ctrl.profile" [owner]="ctrl.profile"></context-bar>
<noosfero-top-profile-image ng-if="ctrl.profile"
  [profile]="ctrl.profile"
  [editable]="true"
  [edit-class]="editable-class" >
</noosfero-top-profile-image>
<div class="boxes-container profile-container">
  <div class="row">
    <custom-content class="profile-header"
                    [label]="'profile.custom_header.label'"
                    [attribute]="'custom_header'"
                    [profile]="ctrl.profile">
    </custom-content>
    <noosfero-boxes ng-if="ctrl.boxes"
                    [layout]="ctrl.profile.layout_template"
                    [boxes]="ctrl.boxes"
                    [owner]="ctrl.profile">
    </noosfero-boxes>
    <custom-content class="profile-footer" [label]="'profile.custom_footer.label'" [attribute]="'custom_footer'" [profile]="ctrl.profile"></custom-content>
  </div>
</div>
