.profile-container {
  @extend .container;
  padding: 0 1%;
  @media (max-width: 978px) {
    padding: 0 2%;
  }
}

#profile-left {
  text-align: center;
  margin-top: 15px;
}

.profile-container {
  margin-top: -30px;
}
