noosfero-profile-summary {
  color: #fff;
  margin-bottom: 30px;
  .profile-summary {
    .media-left {
      padding-right: 15px;
      noosfero-profile-image {
        width: 150px;
        display: inline-block;
        i.profile-image {
          color: #424242;
          background-color: white;
          border-radius: 50%;
          padding: 40px 0;
          width: 150px;
          vertical-align: middle;
        }
      }
    }
    .media-body {
      .media-heading {
        color: #fff;
      }
      .profile-link {
        color: #ededed;
      }
    }
  }
}
