<div class="profile-summary media">
    <div class="media-left media-middle">
        <noosfero-profile-image  [profile]="profile" [editable]="designMode"></noosfero-profile-image>
    </div>
    <div class="media-body media-middle">
        <h1 class="media-heading profile-name">
            <profile-link [profile]="profile" [truncate]="false"></profile-link>
        </h1>
        <ng-template #popoverTemplate>
            <profile-fast-edition [profile]="profile" [environment]="environment" (finished)="closeEdition($event)"></profile-fast-edition>
        </ng-template>
        <a href="#" *ngIf="designMode && profile.permissions" [permission]="profile.permissions" permissionAction="allow_edit" #popover="bs-popover"
            triggers="click" [popover]="popoverTemplate" class="profile-edition-link" placement="right">
            <i class="pencil-icon pencil-icon-header"></i>
        </a>
        <div class="profile-link">
            {{profileLink()}}
        </div>
        <br>
        <div class="actions">
            <div class="add-friend action">
                <profile-join *ngIf='currentUser' [profile]="profile"></profile-join>
            </div>
            <div class="profile-setup action" [permission]="profile.permissions" permissionAction="allow_edit">
                <a href="#" class="open-setup btn btn-default btn-sm" [routerLink]="['/myprofile', profile.identifier]">
                    <i class="fa fa-cog" aria-hidden="true"></i> {{"myprofile.configuration.title" | translate}}
                </a>
            </div>
        </div>
    </div>
</div>