noosfero-profile-summary {
  color: #fff;
  margin-bottom: 30px;
  .profile-summary {
    .media-left {
      padding-right: 15px;
      noosfero-profile-image {
        width: 150px;
        display: inline-block;
        .img-profile-nav-popup {
          max-width: 150px;
        }
        i.profile-image, i.item-avatar-img {
          color: #424242;
          background-color: white;
          border-radius: 50%;
          padding: 40px 0;
          width: 150px;
          text-align: center;
        }
      }
    }
    .media-body {
      text-align: left;
      .media-heading {
        color: #fff;
        display: inline-block;
      }
      .profile-link {
        color: #ededed;
      }
      .profile-edition-link {
        vertical-align: 20%;
        margin-left: 10px;
        .edit-icon {
          color: #fff;
        }
      }
    }
  }
}
.editable-profile-popover {
  margin-top: -5px;
  max-width: 300px;
  width: 300px;
}