noosfero-profile-summary {
  color: #fff;
  margin-bottom: 30px;
  .profile-summary {
    .media-left {
      padding-right: 15px;
      noosfero-profile-image {
        width: 150px;
        display: inline-block;
        .img-profile-nav-popup {
          max-width: 150px;
        }
        i.profile-image, i.item-avatar-img {
          color: #424242;
          background-color: white;
          border-radius: 50%;
          padding: 40px 0;
          width: 150px;
          text-align: center;
        }
      }
    }
    .media-body {
      .media-heading {
        color: #fff;
      }
      .profile-link {
        color: #ededed;
      }
    }
  }
}
