@import "../scss/mixins";


design-toggler{
  .button-edit-mode{
    @extend .btn;
    @extend .btn-default;
    @extend .btn-sm;
    .icon-edit-mode{
      @extend .fa;
      @extend .fa-pencil-square-o;
      @extend .fa-fw;
    }
  }

  .button-preview-mode{
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    .icon-preview-mode{
      @extend .fa;
      @extend .fa-eye;
      @extend .fa-fw;
    }
  }


}

//See if the code above is necessary
$off-text: #949494;
$off-color: #EFEFEF;
$blue-color: #36B4F6;
$red-color: #DF3B3A;

.switch {
  @include not-select();
  background-color: $off-color;
  vertical-align: middle;

  &[on][off] {
    width: 60px;
  }

  &:focus {
    outline: none;
  }

  &.checked small {
      left: initial;
      right: 0px;
  }

  &.blue.checked {
    background: $blue-color;
    border-color: $blue-color;
  }

  &.red.checked {
    background: $red-color;
    border-color: $red-color;
  }

  %switch-label {
    font-weight: bold;
  }

  .on {
    @extend %switch-label;
  }

  .off {
      @extend %switch-label;
      right: 2px;
      top: 25%;
      color: $off-text;
      text-align: center;
  }
}
