.profile-image-block {
  .settings-link {
    display: block;
  }
  .upload-camera-container {
	top: 77%;
	left: 6%;
  }
}

.profile-image-block-editable {
	top: 68%;
    width: 284px;
    font-weight: 700;
    height: 43px;
    padding-left: 30px;
    padding-top: 13px;
}





