.profile-image-block {
  .settings-link {
    display: block;
  }
  .upload-camera-container {
	top: 305px;
	left: 23px;
  }
}

.profile-image-block-editable {
	top: 287px;
    width: 284px;
    font-weight: 700;
    height: 43px;
    padding-left: 30px;
    padding-top: 13px;
}





