$navbar-font-color: #9a9a9a;

.navbar {

  .noosfero-name {
    font-size: 19px;
    display: none;
  }
  border-radius: 0;
  margin-bottom: 0px;

  .container {
    .navbar-header {
      > ul {
        width: 100%;
      }
      li {
        display: inline-block;
      }
      tasks-menu {
        &.navbar-nav {
          margin: 0;
        }
      }
      .navbar-toggle {
        margin-left: 10px;
        margin-right: 0;
      }
    }
    .navbar-brand {
      .noosfero-logo {
        background: url("../assets/images/logo-noosfero.png") no-repeat;
        padding: 20px 60px;
        background-size: 115px;
        background-position: 2px 16px;
      }
      @media (max-width: 423px) {
        .noosfero-logo {
          padding: 20px 23px;
        }
      }
    }

    .navbar-nav {
      li {
        height: 100%;
        > a {
          color: $navbar-font-color;
        }
        .tasks-menu-link, search-form > a {
          padding: 24px 15px;
          display: inline-block;
        }
      }
      i {
        color: $navbar-font-color;
        font-size: 18px;
        &.fa-chevron-down {
          font-size: 9px;
          position: relative;
          top: -1px;
        }
      }
      .dropdown-toggle {
        height: 100%;
      }

      .profile-menu {
        margin-right: 10px;
        .dropdown-toggle {
          padding: 16px 0 16px 8px;
        }
        .profile-image {
          img {
            height: 30px;
            width: 30px;
            display: inline-block;
            @extend .img-circle;
          }
          i {
            font-size: 1.7em;
          }
        }
      }

      .dropdown-menu-profile {
	      min-width: 350px;
	      padding: 10px;
        
        .dropdown-menu-profile-image {
          display: inline-block;
          width: 40%;
        }

        .btn {
          border: 0px;
          border-radius: 1px;
          font-size: .8em;
        }

        .profile-menu-info {

          .name {
            font-weight: bold;
          }

          .email {
            font-size: 0.7em;
            margin-bottom: 10px;
            word-wrap: break-word;
          }

          .btn-edit {
            line-height: .5;
            width: 100%;
          }
        }

        .profile-menu-logout {
          text-align: right;
          font-size: .8em;

          .btn-logout {
            line-height: .5;
            background-color: #ecf0f1;
            color: $navbar-font-color;
          }
        }

        .divider {
          margin: 5px 0;
        }
      }
    }

    .search {
      .search-input {
        height: 45px;
        margin-top: 10px;
      }
      .input-group-btn {
        padding-top: 10px;
      }
    }

    @media (max-width: $break-sm-max) {
    	.navbar-toggle .fa-bars{
    		font-size: 14pt;
    	}
    }
  }

  .btn-nav {
    border-radius: 0px;
    height: 100%;
    border: none;
  }
}
