<nav id="navbar" class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <theme-header></theme-header>
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main.environment.home">
        <span class="noosfero-logo"> </span>
        <h1 class="noosfero-name">{{ ctrl.currentEnvironment.name }}</h1>
      </a>
      <button type="button" class="navbar-toggle collapsed" (click)="ctrl.toggleCollapse()" ng-show="ctrl.showHamburger">
        <span class="sr-only">{{"navbar.toggle_menu" | translate}}</span>
        <i alt='{{"navbar.icon.description" | translate}}' class="fa fa-bars"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse" collapse="isCollapsed">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="btn-nav" ng-show="!ctrl.currentUser">
          <a ng-href="#" ng-click="ctrl.openLogin()">{{"navbar.login" | translate}}</a>
        </li>

        <li ng-show="!ctrl.currentUser">
          <a ui-sref="main.register">{{"navbar.signup.button" | translate}}</a>
        </li>

        <div ui-view="actions" class="custom-actions"></div>

        <div class="nav navbar-nav search">
          <search-form></search-form>
        </div>
        <ul class="nav navbar-nav">
          <tasks-menu class="nav navbar-nav navbar-right"></tasks-menu>
        </ul>
        <li class="dropdown profile-menu" ng-show="ctrl.currentUser" uib-dropdown>

          <a href="#" class="dropdown-toggle" aria-expanded="false" uib-dropdown-toggle>
            {{"navbar.profile.greeting" | translate}}, <span ng-bind="ctrl.currentUser.person.name"></span>
            <noosfero-profile-image [profile]="ctrl.currentUser.person" class="profile-image"></noosfero-profile-image>
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu dropdown-menu-profile" uib-dropdown-menu>
            <li>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                    <noosfero-profile-image 
                      [profile]="ctrl.currentUser.person" 
                      [editable]="true" 
                      [icon-size]="'fa-4x'"></noosfero-profile-image>
                  </div>
                  <div class="col-xs-8 col-sm-8 col-md-8 profile-menu-info">
                    <div class="row name" ng-bind="ctrl.currentUser.person.name"></div>
                    <div class="row email" ng-bind="ctrl.currentUser.email"></div>
                    <div class="row text-center">
                      <a class="btn btn-default btn-edit" ui-sref="main.profile.info({profile: ctrl.currentUser.person.identifier})"> {{"navbar.profile" | translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="divider"></div>
                </div>
                <div class="row">
                  <div class="profile-menu-logout">
                    <a class="btn btn-default btn-logout" href="#" ng-click="ctrl.logout()"><i class="fa fa-fw fa-power-off"></i> {{"navbar.logout" | translate}}</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div ui-view="toolbar">
</div>
