<div class="profile-list">
  <div *ngFor="let profile of profiles" class="profile-item">
    <profile-list-edition [permission]="profile.permissions" permissionAction="allow_edit" *ngIf="owner" [profile]="profile" [owner]="owner"></profile-list-edition>
    <a uiSref="main.profile.home" [uiParams]="{profile: profile.identifier}" data-toggle="tooltip" title="{{profile.name}}" href class="profile-link">
      <noosfero-profile-image [profile]="profile" class="profile-image"></noosfero-profile-image>
      <div class="profile-name">{{profile.name | shorten: 12: '...' }}</div>
    </a>
  </div>
</div>
