.profile-list {
  @extend .container-fluid;
  @extend .row;
  border-bottom: 1px solid #ededed;

  .profile-item {
    @extend .col-md-2;
    @extend .col-sm-2;
    @extend .col-xs-2;
    display: block;
    margin-bottom: 10px;
    padding: 0 5px;
    min-height: 105px;
    min-width: 62px;
    &:hover {
      .profile-list-edition {
        display: inline;
      }
    }
    .profile-list-edition {
      display: none;
    }
    .profile-link {
      .profile-image {
        color: $text-color;
        text-align: center;
        @extend .center-block;
        img {
          @extend .center-block;
          border-radius: 0;
          background-color: #dcdcdc;
        }
        i {
          &.fa-users{
            font-size: 44px;
            padding: 5px 6px;
          }
          background-color: #dcdcdc;
          font-size: 46px;
          padding: 5px 8px;
        }
      }
      .profile-name {
        text-align: center;
        color: $text-color;
        font-size: 12px;
      }
    }
  }
}
