$font-color: #868686;

config-bar {
	#config-tool {
		margin: 0 16px 10px 16px;
		text-align: right;

		.config-option {
			display: inline-block;
			font-size: 13px;
			color: $font-color;

			&.apply {
				display: inline-block;
				.btn {
					@extend .btn-xs;
					&.ng-hide-add {
						animation: 0.5s lightSpeedOut ease;
					}
					&.ng-hide-remove {
						animation: 0.5s lightSpeedIn ease;
					}
				}
			}

			.layout-config {
				.btn {
					color: $font-color;
				}
			}
		}
	}
}
