@import 'scss/variables';
@import 'bootstrap';

config-bar {
	display: inline-block;
	#config-tool {
		margin: 0 2px 0 0;
		text-align: right;
		.config-option {
			display: inline-block;
		    margin-left: 6px;
			&.layout-config {
				.animate{
					@extend .btn;
					@extend .btn-xs;
					&.ng-hide-add {
						animation: 0.5s lightSpeedOut ease;
					}
					&.ng-hide-remove {
						animation: 0.5s lightSpeedIn ease;
					}
				}
			}
		}
	}
}
