config-bar {
	display: inline-block;
	#config-tool {
		margin: 0 16px 0 0;
		text-align: right;

		.config-option {
			display: inline-block;

			&.apply {
				display: inline-block;
				.btn {
					@extend .btn-xs;
					margin-left: 16px;
					&.ng-hide-add {
						animation: 0.5s lightSpeedOut ease;
					}
					&.ng-hide-remove {
						animation: 0.5s lightSpeedIn ease;
					}
				}
			}
		}
	}
}
