ul.nav > li.toggler-container {
    position: relative;
    padding-top: 12px;
}

body.noosfero-design-on {

    div.content-wrapper {
        opacity: 0.5;
    }
}



noosfero-design-toggler .ats-switch .knob i {
	color: #999999;
}


.design-toggle-icon {
    margin-left: 3px;
    margin-right: 3px;
}