@import 'scss/mixins';
@import 'scss/variables';
@import 'bootstrap';

.search-form {
  margin-left: 0px;
  margin-right: 0px;

  input[type="text"] {
    @include border-radius(2px);
    border: 0;
    height: 43px;
    font-size: 18px;
    @include outline(none);
  }
}
