<ul class="task-list">
  <li class="task-group" ng-repeat="(target, tasks) in ctrl.tasks | groupBy: 'target.name'">
    <div class="task-target">
      <noosfero-profile-image ng-if="tasks[0].target.type" [profile]="tasks[0].target"></noosfero-profile-image>
      <div class="target-name">{{target}}</div>
    </div>
    <div class="task-body" ng-repeat="task in tasks | orderBy: 'created_at':true">
      <div class="task">
        <ng-include src="ctrl.getTaskTemplate(task)"></ng-include>
      </div>
      <span class="time">
        <span class="bullet-separator">•</span> <span am-time-ago="task.created_at | dateFormat"></span>
      </span>
    </div>
  </li>
</ul>
